
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(214, 214, 235);
}

p{

    font-size: 25px;
}
headcolor-text{
    color: rgb(45, 45, 206)
    font-size: 48 px
    text-align: left:
}
</style>
