
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(214, 214, 235)
}
h1{
    color: rgb(7, 7, 63);
    font-size: 48 px
    text-align: left;
}
p{
    color: black;
    font-size: 25px;
}
</style>
